@font-face {
  font-family: 'Barlow';

  src: url('/fonts/Barlow.woff') format('woff');
}

@font-face {
  font-family: 'BarlowCondensed';

  src: url('/fonts/BarlowCondensed.woff') format('woff');
}

@font-face {
  font-family: 'Bellefair';

  src: url('/fonts/Bellefair.woff') format('woff');
}
