@use '../base' as *;
@use '../mixins' as *;

body {
  display: grid;
  grid-template-columns: repeat(3, 100%);
}

.technology {
  padding-top: $NavBarHeigth;
  min-height: 100vh;

  @include media(desktop) {
    position: relative;
    display: grid;
    grid-template-columns: 65% 35%;
    align-items: center;

    .section {
      &--image {
        grid-column: 2/3;
        grid-row: 1/2;
      }

      &--describtion {
        grid-column: 1/2;
        grid-row: 1/2;
      }
    }
  }
}
