---
import '../scss/pages/_homeIndex.scss'
import Layout from '../layouts/Layout.astro'
---

<Layout title="Space Home" pageName="home">
  <main>
    <article class="container">
      <section class="section discribtion">
        <h2 class="discribtion--subtitel">SO, YOU WANT TO TRAVEL TO</h2>
        <h1 class="discribtion--title">SPACE</h1>
        <p class="discribtion--text">
          Let’s face it; if you want to go to space, you might as well genuinely go to outer space and not hover kind of on the
          edge of it. Well sit back, and relax because we’ll give you a truly out of this world experience
        </p>
      </section>
      <section class="section btn-explore">
        <a href="destinations" class="btn-explore">EXPLORE</a>
      </section>
    </article>
  </main>
</Layout>
